@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-family: 'Hanken Grotesk', sans-serif;

    --light-red1: hsl(0, 100%, 67%);
    --light-red: hsla(0, 100%, 67%, 0.089);
    --orangey-yellow1: hsl(39, 100%, 56%);
    --orangey-yellow: hsla(39, 100%, 56%, 0.164);
    --green-teal1: hsl(166, 100%, 37%);
    --green-teal: hsla(166, 100%, 37%, 0.212);
    --cobalt-blue: hsla(234, 85%, 45%, 0.205);
    --cobalt-blue1: hsl(234, 85%, 45%);

    /* (background) */
    --light-slate-blue : hsl(252, 100%, 67%);
    --light-royal-blue : hsl(241, 81%, 54%);
    /* (circle) */
    --violet-blue : hsla(256, 72%, 46%, 1);
    --persian-blue : hsla(241, 72%, 46%, 0);

    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

}